{{ define "main" }}

{{ $lang := $.Page.Language.Lang }}

<div class="hero">
	<div class="img" style="min-height: 45vmin; position: relative; color: {{ .Params.color | default "#fff" }};background-image: url({{ .Params.image }}); background-size: cover">
		<h1 style="position: absolute; bottom: 0; font-size: 3rem">{{ .Title }}</h1>
	</div>
</div>

<section class="blogs">
	{{ range .Pages }}
	<article>
		<a class="visually-hidden" aria-hidden="true" href="{{ .Permalink }}">{{ .Title }}</a>
		<a class="blog" href="{{ .Permalink }}">
			{{ $img := (replace .Params.image "." "-mini.") }}
			{{ partial "picture" (dict "img" $img "class" "img") }}
			
			<div class="info">
				<div class="date">{{ partial "date-short.html" (dict "time" .Date "lang" $lang) }}</div>
				<h2>{{ .Title }}</h2>
				<!-- <div class="reading">{{ .ReadingTime }}</div> -->
				<p>{{ .Params.brief }} ...</p>
			</div>
		</a>
	</article>
	{{ end }}
</section>
<br />


{{ end }}
